.invoice {
  max-width: 850px;
  margin: 0 auto;
  font-size: 12px;
  padding: 0 1rem;
  background-color: #fff;
  letter-spacing: 0.07rem;
}

.invoice h6 {
  text-transform: uppercase;
  color: rgb(122, 121, 121);
  font-size: 0.9rem;
  font-weight: 700;
}

.invoice b {
  text-transform: none;
}

.invoice p {
  margin: 0 0 1rem 0;
}

.invoice-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.03em;
}

.invoice-tophead {
  display: flex;
  justify-content: left;
  margin-bottom: 3rem;
}

.invoice-tophead > div:first-child {
  margin-right: 3rem;
}

.invoice-info {
  display: flex;
  margin-bottom: 3rem;
}

.invoice-info-split {
  flex-basis: 50%;
}

.invoice-footer {
  margin-top: 2rem;
}
